@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-background text-brown;
}

h1 {
	@apply text-4xl font-bold;
}

button {
	height: fit-content;
	position: relative;
}

.link {
	position: relative;
}
.link::after {
	content: "";

	position: absolute;
	bottom: 0;
	left: 0;
	right: auto;

	height: 1.5px;
	width: 100%;
	background-color: #786b59;

	transition-duration: 400ms;
}
.link:hover::after {
	right: 0;
	left: auto;

	width: 0;
}

.link.reverse::after {
	content: "";

	position: absolute;
	bottom: 0;
	right: 0;
	left: auto;

	height: 1.5px;
	width: 0;
	background-color: #786b59;

	transition-duration: 400ms;
}
.link.reverse:hover::after {
	right: auto;
	left: 0;

	width: 100%;
}

.link.inverse::after,
nav > ul > li > button::after {
	content: " ";

	position: absolute;
	bottom: 0;
	right: 0;
	left: auto;

	height: 1.5px;
	width: 0;
	background-color: #786b59;
	transition-duration: 400ms;
}
.link.inverse:hover::after,
nav > ul > li > button:hover::after {
	width: 100%;
	right: auto;
	left: 0;
}

button.full,
button.borders.to-full:hover {
	position: relative;

	display: flex;
	align-items: center;
	gap: 0.5rem;

	background-color: #786b59;
	color: white;
	fill: white;

	padding: 0.75rem 1rem;
}

button.full.to-extend {
	transition-duration: 200ms;
}
button.full.to-extend:hover {
	gap: 1rem;
	margin-right: -0.5rem;
}

button.borders,
button.full.to-borders:hover {
	position: relative;

	display: flex;
	align-items: center;
	gap: 0.5rem;

	border: 1.5px solid #786b59;
	color: #786b59;
	fill: #786b59;
	background-color: transparent;

	padding: 0.75rem 1rem;
}
button.borders.to-full {
	transition-duration: 200ms;
}
